# Explore the Data

Let us build some intuition around the Loan Data

In [1]:
#Load the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Default Variables
%matplotlib inline
plt.rcParams['figure.figsize'] = (16,9)
plt.rcParams['font.size'] = 18
plt.style.use('fivethirtyeight')
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [3]:
#Load the dataset
df = pd.read_csv("data/loan_data_clean.csv")

In [4]:
df.head()

   default  amount  interest grade  years ownership   income  age
0        0    5000     10.65     B  10.00      RENT 24000.00   33
1        0    2400     10.99     C  25.00      RENT 12252.00   31
2        0   10000     13.49     C  13.00      RENT 49200.00   24
3        0    5000     10.99     A   3.00      RENT 36000.00   39
4        0    3000     10.99     E   9.00      RENT 48000.00   24

In [5]:
# create the target "amount * default'

## Single Variable Exploration

In [6]:
# Create histogram for the target variable

In [7]:
# Explore other variables

##  Dual Variable Exploration

In [8]:
# Create a crosstab of grade and ownership

### Explore the impact of `age`  with `amount_non_default`

### Explore the impact of `interest` with `amount_non_default`

### Explore the impact of `income` with `amount_non_default`

In [9]:
# Transform the income variable

In [10]:
# Plot the transformed variable

### Explore the impact of `years` with `amount_non_default`

### Explore the impact of `grade` with `amount_non_default`

## Three Variable Exploration

### Explore the relationship between `age`, `income` and `amount_non_default`

### Explore the relationship between plot `age`, `grade` and `amount_non_default`